.SubmitButton {
    /* display: flex; */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20%;
    cursor: pointer;
    width: 15vw; 
    height: 40px;
    justify-content: 'center';
    align-items: 'center';
    text-align: center;
  }

  .ShowResult {
    /* display: flex; */
    /* background-color: lightgray; */
    /* color: black; */
    border: none;
    border-radius: 5px;
    font-size: 20%;
    cursor: pointer;
    width: 15vw; 
    height: 40px;
    justify-content: 'center';
    align-items: 'center';
    text-align: center;
  }

  .fc .fc-day-today {
    background-color: transparent !important;
  }
  
  /* .fc-event .fc-event-title, .fc-event .fc-event-time {
    font-size: 5px; 
  } */